* {
  padding: 0;
  margin: 0;
  font: inherit;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  display: inline-block;
}
html {
  font-size: 62.5%;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}
