.contact {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20rem;
  align-items: center;
}
.contact__content {
  font-size: var(--font-size-20);
  line-height: 1.9;
}
.contact__email {
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
}
.contact__icons {
  transition: var(--transition-timing);
  transform: scale(2);
  margin: 2rem;
}
.contact__icons:hover {
  transform: scale(2.2);
}

.contact__inputs {
  display: flex;
  gap: 3rem;
}

.contact__input {
  border: 0;
  outline: 0;
  border-bottom: 0.1rem solid var(--color-input-border);
  background: transparent;
  flex: 1;
  font-size: var(--font-size-24);
}

.contact__textarea {
  width: 100%;
  margin-top: 4rem;
}
.contact__button {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 1.7rem 1.8rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-24);
  margin-top: 3.4rem;
  border-radius: 20px;
}

form:invalid::after {
  content: "*";
  font-size: var(--font-size-38);
  color: var(--color-red);
}
