.header {
  position: relative;
  top: 0;
  background-color: var(--color-background);
  padding: 3rem 0;
  position: -webkit-sticky;

  display: flex;
  justify-content: center;
  z-index: 1;
  position: sticky;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  border-bottom: 0.1rem solid var(--color-input-border);
  height: 100%;
  width: 100vw;
  z-index: -1;
  background-color: var(--color-background);
}
.navigation__list {
  display: flex;
  gap: 2rem;
}
.navigation {
  transition: var(--transition-timing);
}
.navigation__links:link,
.navigation__links:visited {
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}
.navigation__links:hover,
.navigation__links:active {
  text-decoration: underline;
  color: var(--color-text);
  font-weight: var(--font-weight-bold);
}
.container:has(.bio:target) .navigation__bio,
.container:has(.media:target) .navigation__media,
.container:has(.skills:target) .navigation__skills,
.container:has(.clients:target) .navigation__clients,
.container:has(.projects:target) .navigation__projects {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}

.burger-menu__checkbox {
  display: none;
}

/* toggle start*/
.toggle {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
.toggle__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
}
.toggle__checkbox {
  display: none;
}
.toggle__label {
  display: block;
  position: relative;
  background-color: var(--color-black);
  border-radius: 1.5rem;
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  transition: 0.3s;
}

.toggle__label::after {
  content: "";
  margin-top: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: block;
  background-color: var(--color-white);
  transition: 0.3s;
}

.toggle__checkbox:checked + .toggle__label {
  background-color: var(--color-white);
}
.toggle__checkbox:checked + .toggle__label::after {
  background-color: var(--color-white);
  transform: translateX(2.1rem);
  background-color: var(--color-green);
}
