@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1024px) {
  .container {
    display: inline-block;
    row-gap: 8rem;
  }
  .section {
    grid-template-columns: 1fr;
  }
  .bio__pic-content {
    grid-row: 1;
    justify-self: center;
    margin-bottom: 4rem;
  }
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .project__main {
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }
  .project__content:nth-of-type(2) {
    order: 1;
  }
  .clients__opinions {
    font-size: var(--font-size-24);
  }
  .contact {
    row-gap: 6rem;
  }
  .contact__form {
    order: -1;
  }
}
@media (max-width: 500px) {
  .container {
    margin: 0 auto;
    display: inline-block;
    justify-content: center;
    row-gap: 5rem;
  }
  .bio__pic {
    width: 100%;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.75rem;
    z-index: 0;
    align-self: center;
  }

  .burger-menu__checkbox:checked + .navigation {
    top: 100%;
  }

  .navigation {
    position: absolute;
    width: 100vw;
    top: 0;
    padding: 3rem 0;
    border-bottom: 0.1rem solid var(--color-text);
    z-index: -1;
    background-color: var(--color-white);
    color: var(--color-black);
  }
  .burger-menu__bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: var(--color-text);
    transition: var(--transition-timing);
  }
  .bio__pic-content::before {
    height: 80rem;
  }
  .skills__list {
    display: block;
  }
  .navigation__list {
    justify-content: center;
  }
  .skills__years {
    padding-bottom: 2rem;
  }
  .skills {
    text-align: center;
  }
  .h2--heading {
    text-align: center;
  }
  .h3-heading {
    text-align: center;
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
  }
  .toggle {
    padding: 3rem 0;
    z-index: 1;
  }
}
