.section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
}
.section--with-bg {
  padding: 11rem 0;
}
.section--with-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  justify-self: center;
  background-color: var(--color-grey);
  z-index: -1;
  border: solid 2px #fff;
}
